<html>
    
        <% include partials/headers.ejs %>
        <div>
            <div>
                <h2>New Movie</h2>
                <form id ="#movieform" action="/movies", method="POST">
                    <input type="text", name="mov[name]" placeholder="name">
                    <input type="text", name="mov[genre]" placeholder="genre">
                    <input type="number", name="mov[rating]" min= "1" max="5" placeholder="rating">
                    <input type="number", name="mov[amount]" placeholder="amount">
                    <input type="text", name="mov[available]" placeholder="availablity">
                    <input type="submit">
                </form>
            </div>
        </div>
</html>